.cosmetics_img1 {
    background-image: url('https://images.pexels.com/photos/3018845/pexels-photo-3018845.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}
.cosmetics_img2 {
    background-image: url('https://images.pexels.com/photos/1625037/pexels-photo-1625037.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}
.cosmetics_img3 {
    background-image: url('https://images.pexels.com/photos/6167445/pexels-photo-6167445.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}
.cosmetics_img4 {
    background-image: url('https://images.pexels.com/photos/8101532/pexels-photo-8101532.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}
.cosmetics_img5 {
    background-image: url('https://images.pexels.com/photos/2533266/pexels-photo-2533266.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}
.cosmetics_img6 {
    background-image: url('https://images.pexels.com/photos/2536009/pexels-photo-2536009.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}
.cosmetics_img7 {
    background-image: url('https://images.pexels.com/photos/1722868/pexels-photo-1722868.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}
.cosmetics_img8 {
    background-image: url('https://images.pexels.com/photos/2442898/pexels-photo-2442898.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}