header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 1px 1px 5px rgb(22, 22, 22);
    padding: 0 30px;
}
#logo {
    width: 167px;
    height: 60px;
}
header img {
    width: 100%;
    height: 100%;
}
nav, #additional-nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}
#mobile-nav, #mobile-additional-menu {
    display: none;
}
a, .login_button {
    list-style: none;
    text-decoration: none;
}
header a, .login_button {
    color: #000;
    border-bottom-width: 0;
    transition: border-bottom-width 0.1s ease-in;
}
.login_button {
    border: none;
    background: none;
    cursor: pointer;
    font: inherit;
}
#nav-head {
    border: none;
    cursor: pointer;
    margin: 0;
    background-color: #fff;
}
.fa-caret-down, .fa-magnifying-glass {
    margin: 0 5px;
}
header a:hover, #mobile-nav:hover #nav-head, #search-bar:hover, .login_button:hover {
    border-bottom: 3px solid #5a260d;
}
#mobile-nav-content, #mobile-additional-nav-content {
    display: none;
    position: absolute;
    min-width: auto;
    box-shadow: 0 4px 8px 0px rgba(255, 255, 255, 0.2);
    z-index: 1;
    background-color: #fff;
    font-size: 12px;
}
#search_button {
    background-color: #fff;
    border: none;
}
#search_button:hover {
    cursor: pointer;
    color:  #af0000;
}
#mobile-nav-content a {
    padding: 10px;
    display: block;
    text-align: left;
}
#mobile-nav:hover #mobile-nav-content {
    display: block;
}
#mobile-additional-menu:hover #mobile-additional-nav-content {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 10px;
    gap: 10px;
}
#bars-nav-head {
    cursor: pointer;
}
#heart-mobile {
    display: none;
}
nav .fa-heart, #additional-nav .fa-heart {
    color: #a70606;
}
.login-container-wrapper {
  position: relative;
}

.signup_login_dropdown {
    width: 70%;
    position: absolute;
    top: 100%;
    left: 15%;
    z-index: 1000;
    transform: scaleY(0);
    transform-origin: top;
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}
.search_dropdown {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transform: scaleY(0);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}
.signup_login_dropdown.show, .search_dropdown.show {
  transform: scaleY(1);
  opacity: 1;
}
@media (max-width: 767px) {
    #logo {
        width: 80px;
        height: auto;
    }

    nav a:nth-child(3), nav a:nth-child(4), nav a:nth-child(5), nav a:nth-child(7) {
        display: none;
    }
    #mobile-nav, #mobile-additional-menu {
        display: block;
        width: max-content;
    }
    header {
        height: 60px;
    }
    header nav {
        gap: 5px;
        font-size: 13px;
        font-weight: 600;
    }
    #additional-nav {
        display: none;
    }
    #heart-mobile, .fa-heart {
        display: block;
    }
    #mobile-additional-nav-content {
        right: 0;
    }
}
@media (min-width: 768px) and (max-width: 1199px) {
    header {
        gap: 15px;
        height: 80px;
    }
    nav {
        font-size: 14px;
    }
    #additional-nav {
        font-size: 16px;
    }
}