.signup_login_containter{
    display: flex;
    border-radius: 5px;
    margin: auto;
    box-shadow: 0px 1px 1px 1px #e2e2e2;
    align-items: center;
    padding: 2%;
}
.left_side, .login_right_side {
    background-color: #332a20;
    width: 50%;
    color: #fff;
    height: 37em;
    text-align: center;
    background-image: url('../Images/MensImages/Mens_Fashion_Picture.png');
    background-position: center;
    background-repeat: no-repeat;
}
.background_overlay{
    height: 37em;
    background-color: rgba(59, 49, 36, 0.5);
}
.left_side, .background_overlay{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 15px;   
}
.login_right_side{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 5px; 
}
.signupLogin_logo {
    margin-top: 5%;
    width: 50%;
}
.signup_text {
    margin: 7em 0;
}
.login_text {
    margin: 30% auto;
}
.signup_text button, .login_text button {
    padding: 10px 50px;
    border-radius: 14px;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
}
.signup_text button:hover, .login_text button:hover {
    cursor: pointer;
    background-color: #332a20;
}
.right_side, .login_left_side {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #332a20d8;
    background-color: #eeeeee;
    width: 50%;
    height: 37em;
}
.forget_password {
    text-align: center;
}
.forget_password:hover {
    color: #ff0000;
}
.right_side form, .login_left_side form {
    display: flex;
    flex-direction: column;
}

.group_input {
    position: relative;
    margin: 15px 0;
}

.group_input input {
    width: 80%;
    padding: 15px 45px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #6565657c;
    outline: none;
}
.input_icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #332a20;
    pointer-events: none;
    transition: color 0.2s ease;
}

.group_input input:focus + .input_icon,
.group_input input:not(:placeholder-shown) + .input_icon {
    opacity: 0;
}

.right_side form button, .login_left_side button, .routeLoginSignup {
    color: #fff;
    width: 55%;
    height: 37px;
    margin: 20px auto;
    padding: 10px;
    border-radius: 14px;
    border: none;
    background-color: #332a20;
}
.login_left_side button {
    width: 28%;
}
.right_side form button:hover , .login_left_side button:hover, .routeLoginSignup:hover{
    cursor: pointer;
    background-color: #776550;
}
@media (max-width: 767px) {
    .signup_login_containter {
        width: 100%;
    }
    .right_side,.login_left_side {
        width: 100%;
        background-color: rgba(59, 49, 36, 0.8);
        background-image: url('../Images/MensImages/Mens_Fashion_Picture.png');
        background-position: center;
        background-repeat: no-repeat;
        color: #fff;
    }
    .left_side, .login_right_side {
        display: none;
    }
    .right_side form input::placeholder, .login_left_side input::placeholder,.right_side form svg, .login_left_side form svg {
        color: #f3f3f3d8;
    }
    .right_side form input, .login_left_side input {
        border: 1px solid black;
    }
}