.kids_img1 {
    background-image: url('https://images.pexels.com/photos/1386604/pexels-photo-1386604.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}
.kids_img2 {
    background-image: url('https://images.pexels.com/photos/670720/pexels-photo-670720.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}
.kids_img3 {
    background-image: url('https://images.pexels.com/photos/1416736/pexels-photo-1416736.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}
.kids_img4 {
    background-image: url('https://images.pexels.com/photos/1799881/pexels-photo-1799881.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}
.kids_img5 {
    background-image: url('https://images.pexels.com/photos/35537/child-children-girl-happy.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}
.kids_img6 {
    background-image: url('https://images.pexels.com/photos/36029/aroni-arsa-children-little.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}
.kids_img7 {
    background-image: url('https://images.pexels.com/photos/1104007/pexels-photo-1104007.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}
.kids_img8 {
    background-image: url('https://images.pexels.com/photos/1094072/pexels-photo-1094072.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}