.women_img1 {
    background-image: url('https://images.pexels.com/photos/2065195/pexels-photo-2065195.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}
.women_img2 {
    background-image: url('../../../Images/WomensImages/women-product.jpg');
}
.women_img3 {
    background-image: url('https://images.pexels.com/photos/3527572/pexels-photo-3527572.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}
.women_img4 {
    background-image: url('../../../Images/WomensImages/women_clothing.png');
}
.women_img5 {
    background-image: url('https://images.pexels.com/photos/3854884/pexels-photo-3854884.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}
.women_img6 {
    background-image: url('https://images.pexels.com/photos/291738/pexels-photo-291738.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}
.women_img7 {
    background-image: url('https://images.pexels.com/photos/3921086/pexels-photo-3921086.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}
.women_img8 {
    background-image: url('https://images.pexels.com/photos/985635/pexels-photo-985635.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}